{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Task{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex row p-2 justify-content-center">
            <div class=" col-md-6 p-4 m-3 bg-light rounded">
                <form method="post" action="{% url 'create-test-package' %}">
                    {% csrf_token %}
                    {{ test_task_form|crispy }}
                    <button type="submit" class="btn btn-primary">Create Test Package</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
